Python/.ipynb_checkpoints/Improved_Python_Lesson_8_Pokemon-checkpoint.ipynb
Python/.ipynb_checkpoints/Improved_Python_Lesson_8_Task_1-checkpoint.ipynb
Python/.ipynb_checkpoints/Improved_Python_Lesson_8_Time_Bikes-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_1_Project_1_Games-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_1_Project_2_Metrics-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_1_Project_3_Bykes-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_1_Project_5_App_anova-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_1_Project_7_Cars_Linear_Reg-checkpoint.ipynb
Python/.ipynb_checkpoints/Statistics_3_Project_Pizza-checkpoint.ipynb

Python/Data_for_time_managing_task/bikes_april.csv
Python/Data_for_time_managing_task/bikes_q1_sample.csv
Python/Data_for_time_managing_task/bikes_q2_sample_apr.csv
Python/Data_for_time_managing_task/bikes_q2_sample_jun.csv
Python/Data_for_time_managing_task/bikes_q2_sample_may.csv
Python/Data_for_time_managing_task/bikes_q3_sample_aug.csv
Python/Data_for_time_managing_task/bikes_q3_sample_july.csv
Python/Data_for_time_managing_task/bikes_q3_sample_sep.csv
Python/Data_for_time_managing_task/bikes_q4_sample_dec.csv
Python/Data_for_time_managing_task/bikes_q4_sample_nov.csv
Python/Data_for_time_managing_task/bikes_q4_sample_oct.csv
*.csv
